{% extends "base.html" %}

{% block content %}

<form action="{% url 'dodaj' %}" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Dodaj" />
</form>
<p class="error">{{ error }}</p>
{% endblock %}
