{% extends "base.html" %}

{% block content %}
{% if posty %}
        <h4>Twoje posty:</h4>
        {% for post in posty %}
        <div class="post">
                <div class="autor">{{ post.autor.username}} w {{ post.data }}<br/>{% if post.dateE %}edytowany  {{post.dateE}} przez {{post.edytor}}{% endif %}</div>
                <div class="tytul">{{ post.tytul }}</div>
                <div class="tekst">{{ post.tekst }}</div>
                <div class="tagi"><p>Tagi:
                     {% for tag in post.tagi.all %}
                     {{ tag.tekst }}
                     {% endfor %}</p>
                </div>
                {% if perms.microblog.change_post or post.pk in tabela %}
                <p><a href="{% url 'edit' post.pk %}">Edytuj</a></p>
                {% endif %}
        </div>
        {% endfor %}

{% else %}
        <h4>Brak postów</h4>
{% endif %}
{% endblock %}