{% extends "base.html" %}

{% block content %}
{% if tagi %}
        <h3>Wybierz tag:</h3>
        <div>
        {% for tag in tagi %}
            <p><a href="{% url 'tag' tag.pk %}">{{ tag.tekst }}</a></p>
        {% endfor %}
        </div>
{% else %}
        <h3>Aktualnie brak tagów.</h3>
{% endif %}
{% endblock %}