<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Microblog</title>
    </head>
    <body>
    <h1>Microblog</h1>
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><b>Zalogowany:</b> {{ user.username }}</p>
    {% endif %}
    <div>
    <ul>
            <li><a href="{% url 'index' %}">Strona główna</a></li>
            <li><a href="{% url 'filtr' %}">Posty użytkowników</a></li>
    {% if user.is_authenticated  %}
            <li><a href="{% url 'postyM' %}">Twoje posty</a></li>
            <li><a href="{% url 'dodaj' %}">Dodaj post</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
    {% else %}
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
            <li><a href="{% url 'login' %}">Zaloguj się</a></li>

    {% endif %}
            <li><a href="{% url 'search' %}">Szukaj po tagach</a></li>
    </ul>
    </div>
    </body>
</html>